################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webpack-project/_steps
/webpack-project/node_modules
.DS_Store
